<div>
    <textarea id="spbi-input" wrap="hard" cols="1"
        placeholder="{{ localize '5e-spellblock-importer.placeholder' }}"></textarea>
    <section id="spbi-bottom">
        <span id="spbi-import-text">{{ localize '5e-spellblock-importer.importText' }}</span>
        <select id="spbi-import-select"></select>
        <select id="spbi-import-type">
            <option value="spell" selected>{{ localize '5e-spellblock-importer.type.spell' }}</option>
            <option value="item">{{ localize '5e-spellblock-importer.type.item' }}</option>
          </select>
        <button id="spbi-import-button" type="button">{{ localize '5e-spellblock-importer.importButton' }}</button>
    </section>
</div>